//- layout.jade
doctype html
html
  head
    meta(chartset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="css/estilos.css")
    
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js")
    script(src="https://code.highcharts.com/highcharts.js")
    script(src="https://code.highcharts.com/modules/exporting.js")
    script(src="https://code.highcharts.com/modules/no-data-to-display.js")
    

    block title
      title Default title
  body
    block content